.section{
  width: 95%;
}

.msg{
color:red;
}

.success{
  color: rgb(16, 196, 16);
}

.pay{
  border:2px solid #c46cef;
  color:#c46cef;
  font-weight: bold;
}
.pay:hover{
  background-color: #c46cef;
  color: #fff;
}

.h2{
color:#000;
}

.actionButtons{
  display: flex;
  justify-content: end;
}

.btn{
  background: #951ac9 ;
  color: #fff;
}

.btn:hover{
  background-color: #c11ac9;
  color: #fff;
}

.btn:focus{
  box-shadow: none !important; 
}
    .a{
        color:red;
        float: right;
    }
    .a:hover{
    color: red;
  }

.card{
  border:none;
}
.footer{
  overflow-x: hidden;
}

i{
  cursor: pointer;
}